<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-proba01></app-proba01>
      <hr>
      <app-proba01></app-proba01>
      <hr>
      <h3> - Prc trt -</h3>
    </div>
  </div>
</div>
